/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.alginCenter {
    display: flex;
    align-items: center;
}

.minwidthTag {
    min-width: 120px;
}
.el-cascader-panel {
    height: 300px;
    overflow: hidden;
}
